# Copyright (c) 2023 Meta Platforms, Inc. and its affiliates.
#
# SPDX-License-Identifier: Apache-2.0

config I3C_DW
	bool "DW I3C support"
	select I3C_IBI_WORKQUEUE if I3C_USE_IBI
	depends on DT_HAS_SNPS_DW_I3C_MASTER_1_00A_ENABLED
	default y
	help
	  Enable the Synopsys Designware I3C driver

config I3C_DW_WRAPPER
	bool
	depends on I3C_DW
	help
	  Select this option if Synopsys Designware I3C controller is wrapped
	  in a vendor-specific IP block.
