# Copyright (c) 2023, Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_PAC55XX=y
CONFIG_SOC_PAC5527=y
CONFIG_BOARD_TINYMOVR_M5=y

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
