# Copyright (c) 2025 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_SF32LB
	bool "SF32LB clock control driver"
	default y
	depends on DT_HAS_SIFLI_SF32LB_RCC_CLK_ENABLED
	help
	  Enable driver for SiFli SF32LB clock control.
