# Copyright 2025 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config HWINFO_SF32LB
	bool "SiFli SF32LB hwinfo driver"
	default y
	depends on SOC_SERIES_SF32LB52X
	select HWINFO_HAS_DRIVER
	help
	  Enable SF32LB hwinfo driver
