# Copyright (c) 2023 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_QORVO_PAC
	bool

if SOC_FAMILY_QORVO_PAC

source "soc/arm/qorvo_pac/*/Kconfig.soc"

endif # SOC_FAMILY_QORVO_PAC
